body {
    font-family: "Helvetica Neue";
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 3%;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    color: #CC0000;
}

h1-big {
    font-size: 50px;
    font-weight: 500;
    color: #e11a2c;
}

h1-small {
    font-size: 2em;
    font-weight: 300;
    color: #CC0000;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #615445;
}

h3-small {
    font-size: 1.2em;
    font-weight: 400;
    color: #615445;
}

h3-median {
    font-size: 1.5em;
    font-weight: 400;
    color: #615445;
}

.subtitle {
    font-size: 1.5em;
    font-weight: 500;
    color: #89191C;
}

.text-black {
    font-size: 1.2em;
    font-weight: 100;
    color: #000000;
    text-align: justify;
}

.text-gray {
    font-size: 1.1em;
    font-weight: 100;
    color: #b0ad82;
    text-align: justify;
}

.btn-primary {
    border-radius: 10px;
    background-color: rgba(245, 130, 130, 0.5);
    font-size: 16px;
    font-weight: 100;
    color: white;
    padding: 14px 40px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.btn-primary:hover {
    background-color: #CC0000;
}

label {
    color: #766D61;
    font-weight: 300;
    font-size: 1.8em;
}

/*============================================*/

ul.nav-row {
    display: block;
    width: 100%;
    float:right;
}

ul.nav-row > li {
    display: table-cell;
    padding: 20px;
    float: right;
}

li:hover {
    color: hotpink;
}

.nav-text {
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    color: #615445;

}

.nav-text:hover {
    color: #e11a2c;
}

.navbar-trans {
    background: transparent; }




